.heroes-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroes {
  width: 300px;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 5px;
    border-radius: 4px;
    text-align: left;
    background-color: #eee;
    cursor: pointer;

    &:hover {
      color: #607D8B;
      background-color: #DDD;
    }

    &.selected {
      color: white;
      background-color: #CFD8DC !important;

      &:hover {
        color: white;
        background-color: #BBD8DC !important;
      }
    }

    .badge {
      display: inline-block;
      height: 30px;
      padding: 0 8px;
      margin-right: 8px;
      font-size: small;
      color: white;
      line-height: 30px;
      border-radius: 4px 0 0 4px;
      background-color: #607D8B;
    }
  }
}

.selectedHero {
  flex: 1;
}
