@import '../assets/scss/mixin';

.container {
  text-align: center;

  img {
    margin-top: rem(20);
  }

  h1 {
    font-size: rem(40);
    color: #121212;
  }

  nav {
    a {
      margin: 0 rem(5);
      font-size: rem(28);
      color: #ff3ea2;
    }
  }

  main {
    @include nativeBorder();
    margin-top: rem(20);
    padding: rem(20) 0;
  }
}
