.container {
  text-align: center;

  h1 {
    font-size: 32px;
    color: #121212;
  }

  nav {
    a {
      margin: 0 5px;
    }
  }

  .content {
    margin-top: 20px;
    border-top: 1px solid #bbb;
  }
}
